target/classes/servicioproyectamoreecaffe.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b0fb38be-34d4-49b5-909d-54ebccc316ef" >
		<http:listener-connection host="0.0.0.0" port="9099" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="621d4726-6660-4225-b478-b46d42b0328e" >
		<db:my-sql-connection host="localhost" port="3306" user="root" database="dbamorecaffe" password="admin123"/>
	</db:config>
	<flow name="DistritoSELECT" doc:id="a02615df-4b20-4c94-9094-5e7989a80f5e" >
		<http:listener doc:name="Mostrar Distrito" doc:id="d3d677ab-051c-4fab-b8c9-10e564cafa32" config-ref="HTTP_Listener_config" path="/distrito"/>
		<db:select doc:name="findAll" doc:id="b60869d2-8ff0-41e8-9cac-2e86d9fa95dc" config-ref="Database_Config">
			<db:sql><![CDATA[Select * from distritos]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="bb4d9fa2-8704-49a6-866e-af9cd48697cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: (payload01.id default ""),
	nombre: (payload01.nombre default ""),
	slug: (payload01.slug default ""),
	estado: payload01.estado
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="servicioproyectamoreecaffeFlow" doc:id="a8a71848-4fe9-404a-983e-4fe4e5f14c8a" >
		<http:listener doc:name="Listener" doc:id="3e972ec5-2874-465d-9907-1173859003a6" config-ref="HTTP_Listener_config" path="/distrito/create"/>
		<db:insert doc:name="Insert" doc:id="5ca89354-d4b5-433b-a3e4-7c3cab417764" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO distritos (id, estado, nombre, slug) VALUES (:id, :estado, :nombre, :slug);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: payload.id,
	estado: payload.estado,
	nombre: payload.nombre,
	slug: payload.slug
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="78b6d7dd-9d19-4ba1-bac1-ad3a2d183f3b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
